.icon-ocs-store {
    background-image: url(app-icons/ocs-store.svg);
}

.icon-menu {
    /*background-image: url(material-design-icons/outline-menu-24px.svg);*/
    background-image: url(material-design-icons/outline-more_vert-24px.svg);
}

.icon-home {
    background-image: url(material-design-icons/outline-home-24px.svg);
}

.icon-collection {
    background-image: url(material-design-icons/outline-folder-24px.svg);
}

.icon-back {
    background-image: url(material-design-icons/outline-arrow_back-24px.svg);
}

.icon-forward {
    background-image: url(material-design-icons/outline-arrow_forward-24px.svg);
}

.icon-reload {
    background-image: url(material-design-icons/outline-refresh-24px.svg);
}

.icon-stop {
    background-image: url(material-design-icons/outline-close-24px.svg);
}

.icon-open-browser {
    background-image: url(material-design-icons/outline-open_in_new-24px.svg);
}

.icon-close {
    background-image: url(material-design-icons/outline-close-24px.svg);
}

.icon-download {
    background-image: url(material-design-icons/outline-cloud_download-24px.svg);
}
